@model IEnumerable<BugTracker.Models.TicketHistory>
@using BugTracker.Helpers
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ticket.OwnerUserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PropertyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OldValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NewValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Changed)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ticket.OwnerUser.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PropertyName)
                            </td>
                            <td>
                                @LookupHelper.GetNameFromId(item.PropertyName, item.OldValue)
                            </td>
                            <td>
                                @LookupHelper.GetNameFromId(item.PropertyName, item.NewValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Changed)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>