@using BugTracker.Helpers
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Issue Manager Services</title>
    <!-- plugins:css -->
    <link href="~/Content/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Content/vendor.bundle.addons.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <link href="~/img/RedApple.png" rel="icon" />


</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">

               <div class=" container">
                   <i class="fa fa-bug fa-spin"></i><h5 style="font-family:'Comic Sans MS'">Issue Manager Services</h5>
               </div> 

            </div>
            <hr />
            @if (Request.IsAuthenticated)
            {



                <div class="navbar-menu-wrapper d-flex align-items-center">
                    @{
                        var notifyHelper = new NotificationHelper();

                    }
                    <ul class="navbar-nav navbar-nav-right">


                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator dropdown-toggle" href="#notificationDropdown" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>

                                @if (notifyHelper.UnreadNotifications().Count() > 0)
                                {
                                    <span class="count">@notifyHelper.UnreadNotifications().Count()</span>
                                }

                            </a>
                            @if (notifyHelper.UnreadNotifications().Count() > 0)
                            {
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" id="notificationDropdown" aria-labelledby="notificationDropdown">
                                    <a class="dropdown-item" href=@Url.Action("Index","TicketNotifications")>
                                        <p class="mb-0 font-weight-normal float-left">
                                            You have @notifyHelper.UnreadNotifications().Count() new notification(s)
                                            <span class="badge badge-pill badge-success float-right">View All</span>
                                        </p>
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    @Html.Partial("_NotificationPartial", notifyHelper.UnreadNotifications())



                                </div>
                            }

                        </li>
                        <li class="nav-item dropdown d-none d-xl-inline-block">
                            <a class="nav-link dropdown-toggle" href="#UserDropdown" data-toggle="dropdown" aria-expanded="false">
                                <span class="profile-text">Hello, @User.Identity.Name !</span>

                                <img class="img-xs rounded-circle" src="~/img/pic-1.png" alt="Profile image">

                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" id="UserDropdown" aria-labelledby="UserDropdown">
                                <a class="dropdown-item p-0">
                                    <div class="d-flex border-bottom">
                                        <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                            <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                        </div>
                                        <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                            <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                        </div>
                                        <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                            <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item mt-2" href="@Url.Action("Edit2","Users", new { id = User.Identity.GetUserId()})">
                                    Change Info
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword","Manage")">
                                    Change Password
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            }
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item nav-profile">
                            <div class="nav-link">
                                @if (User.IsInRole("Submitter"))
                                {
                                    <a href="@Url.Action("Create","Tickets")" class="btn btn-warning btn-block">
                                        New Ticket
                                        <i class="mdi mdi-plus"></i>
                                    </a>
                                }
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                {
                                    <a href="@Url.Action("Create","Projects")" class="btn btn-primary btn-block">
                                        New Project
                                        <i class="mdi mdi-plus"></i>

                                    </a>
                                }


                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Home")">
                                <i class="menu-icon mdi mdi-television"></i>
                                <span class="menu-title">Home</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Users")">
                                <i class="menu-icon mdi mdi-account-outline"></i>
                                <span class="menu-title">Users</span>
                            </a>
                        </li>
                    }
                    @if (Request.IsAuthenticated)
                    {

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#tick" aria-expanded="false" aria-controls="tick">
                                <i class="menu-icon mdi mdi-bell"></i>
                                <span class="menu-title">Tickets</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="tick">
                                <ul class="nav flex-column sub-menu">
                                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index", "Tickets")">
                                                <span class="menu-title">All Tickets</span>
                                            </a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Developer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("myTickets", "Tickets")">
                                                <span class="menu-title">Assigned Tickets</span>
                                            </a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Submitter"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("subTickets", "Tickets")">
                                                <span class="menu-title">Submitted Tickets</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    @if (Request.IsAuthenticated)
                    {

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#proj" aria-expanded="false" aria-controls="proj">
                                <i class="menu-icon mdi mdi-table"></i>
                                <span class="menu-title">Projects</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="proj">
                                <ul class="nav flex-column sub-menu">
                                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("AP", "Projects")">
                                                <span class="menu-title">All Projects</span>
                                            </a>
                                        </li>
                                    }
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Assigned", "Projects")">
                                            <span class="menu-title">Assigned Projects</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                                <i class="menu-icon mdi mdi-restart"></i>
                                <span class="menu-title">Assigning/Unassigning</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="auth">
                                <ul class="nav flex-column sub-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("AssignRole", "Admin")">

                                                <span class="menu-title">Assign/Unassign Users</span>
                                            </a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("AssignProject", "Admin")">

                                                <span class="menu-title">Assign/Unassign Projects</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("AssignTicket", "Admin")">

                                                <span class="menu-title">Assign/Unassign Tickets</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    @if(!Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Register","Account")">
                                <i class="menu-icon mdi mdi-file-document-box"></i>
                                <span class="menu-title">Register</span>
                            </a>
                        </li>
                    }

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="menu-icon mdi mdi-sticker"></i>
                                    <span class="menu-title">LogOff</span>
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Account")">
                                <i class="menu-icon mdi mdi-sticker"></i>
                                <span class="menu-title">Login</span>
                            </a>
                        </li>
                    }

                </ul>
            </nav>




            <div class="main-panel">
                <div class="content-wrapper">

                    @RenderBody()

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © 2018
                            <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash Modified by Greg Zambrana</a>. All rights reserved.
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    <!-- partial -->
    <!-- main-panel ends -->
    <!-- page-body-wrapper ends -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Scripts/vendor.bundle.base.js"></script>

    <script src="~/Scripts/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Scripts/off-canvas.js"></script>

    <script src="~/Scripts/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Scripts/chart.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <!-- End custom js for this page-->
    <script src="~/Scripts/dataTables/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" src="DataTables/datatables.min.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>


    @RenderSection("scripts", false)
</body>
</html>