@model IEnumerable<BugTracker.Models.Ticket>
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "myTickets";
}


<div class="row">
    <div class="col-lg-12 grid-margin">
        <div class="card text-center">
            <div class="card-body">

                <h2>My Tickets</h2><p>@Html.ActionLink("Back to Index", "ticketIndex")</p>
                <hr />

                <div class="table-responsive">
                    <table id=" tickTable" class="table">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayName("Project")
                                </th>
                                <th>
                                    @Html.DisplayName("TicketPriority")
                                </th>
                                <th>
                                    @Html.DisplayName("TicketStatus")
                                </th>
                                <th>
                                    @Html.DisplayName("TicketType")
                                </th>
                                <th>
                                    @Html.DisplayName("Title")
                                </th>
                                <th>
                                    @Html.DisplayName("Description")
                                </th>
                                <th>
                                    @Html.DisplayName("Submitted By")
                                </th>
                                <th>
                                    @Html.DisplayName("Assigned Developer")
                                </th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {


                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssignedToUserTwo.FirstName)

                                    </td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                                    </td>
                                </tr>


                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script src="~/Scripts/dataTables/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/dataTables/dataTables.bootstrap4.min.js"></script>

    <script>
        $('#tickTable').dataTable();
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
<!-- partial -->
