@model BugTracker.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm("Edit2","Users", FormMethod.Post, new { enctype = "Multipart/Form-Data" , @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">

                    <h4>Edit Profile Information</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.AvatarPath)
                    @*@Html.HiddenFor(model => model.PasswordHash)
                        @Html.HiddenFor(model => model.SecurityStamp)*@


                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AvatarPath, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input name ="filePath" type="file" class =" form-control" id ="fileUpload" />
                        </div>
                    </div>

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-group">
                            @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.DropDownList("Roles", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
